img {
  margin: 10px 0 0 900px;
  position: relative;
}

.logo {
  margin: 80px 0px 0 -1350px;
  position: absolute;
  z-index: 99;
}

.mobile_image {
  visibility: hidden;
  position: relative;
  z-index: 99;
  margin: -230px 0 0 -1300px;
}

.bg_pattern {
  margin: -800px 0 15px 30px;
  position: relative;
}

.message {
  margin: -361px 0 0 150px;
  position: relative;
  z-index: 99;
  width: 450px;
}

#writings {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: hsl(0, 49%, 41%);
  line-height: 30px;
}

.header {
  margin: -270px 0 0 150px;
  position: relative;
  z-index: 99;
  width: 100px;
}

#header-writings {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 17px;
}

.weare {
  margin: -250px 0 0 150px;
  position: relative;
  z-index: 99;
  width: 100px;
}

#weare-writings {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 49%, 41%);
  font-size: 60px;
  font-weight: 200;
  line-height: 70px;
  letter-spacing: 17px;
}

#search {
  margin: 400px 0 0 150px;
  width: 450px;
  position: relative;
  z-index: 99;
}

.form-control {
  padding: 0px 10px 0 100px;
  margin-top: -85px;
  color: hsl(0, 93%, 68%);
  font-size: 28px;
  font-weight: 500;
  border: 3px solid hsl(0, 93%, 68%);
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 60px;
  height: auto;
  border-radius: 50px 50px 50px 50px !important;
}

#searchbtn {
  padding: 0px 10px 0 50px;
  margin: -60px 0 100px 360px;
  color: #fff;
  background: hsl(0, 93%, 68%);
  font-size: 27px;
  font-weight: 500;
  border: 3px solid hsl(0, 93%, 68%);
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 60px;
  height: 50px;
  border-radius: 40px 40px 40px 40px !important;
  position: absolute;
  z-index: 100;
}

#demo {
  margin: 0 0 0 155px;
  position: relative;
  z-index: 99;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: hsl(0, 93%, 68%);
}

form {
  position: relative;
  z-index: 99;
}

@media (min-width: 1550px) {
  img {
    margin: 10px 0 0 900px;
    position: relative;
  }

  .logo {
    margin: -700px 0px 0 150px;
    position: absolute;
    z-index: 99;
  }

  .mobile_image {
    visibility: hidden;
    position: relative;
    z-index: 99;
    margin: -230px 0 0 -1300px;
  }

  .bg_pattern {
    margin: -800px 0 15px 30px;
    position: relative;
  }

  .message {
    margin: -361px 0 0 150px;
    position: relative;
    z-index: 99;
    width: 450px;
  }

  #writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 49%, 41%);
    line-height: 30px;
  }

  .header {
    margin: -270px 0 0 150px;
    position: relative;
    z-index: 99;
    width: 100px;
  }

  #header-writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 17px;
  }

  .weare {
    margin: -250px 0 0 150px;
    position: relative;
    z-index: 99;
    width: 100px;
  }

  #weare-writings {
    font-family: "Josefin Sans", sans-serif;
    color: hsl(0, 49%, 41%);
    font-size: 60px;
    font-weight: 200;
    line-height: 70px;
    letter-spacing: 17px;
  }

  #search {
    margin: 400px 0 0 150px;
    width: 450px;
    position: relative;
    z-index: 99;
  }

  .form-control {
    padding: 0px 10px 0 100px;
    margin-top: -85px;
    color: hsl(0, 93%, 68%);
    font-size: 28px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: auto;
    border-radius: 50px 50px 50px 50px !important;
  }

  #searchbtn {
    padding: 0px 10px 0 50px;
    margin: -60px 0 100px 360px;
    color: #fff;
    background: hsl(0, 93%, 68%);
    font-size: 27px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: 50px;
    border-radius: 40px 40px 40px 40px !important;
    position: absolute;
    z-index: 100;
  }

  #demo {
    margin: 0 0 0 155px;
    position: relative;
    z-index: 99;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 93%, 68%);
  }

  form {
    position: relative;
    z-index: 99;
  }
}

@media (min-width: 1400px) and (max-width: 1500px) {
  img {
    margin: 100px 0 0 400px;
    position: relative;
    z-index: 99;
  }

  .logo {
    margin: 20px 0px 0 -610px;
    position: absolute;
    z-index: 99;
  }

  .bg_pattern {
    margin: -70px 0 15px 320px;
    position: relative;
    z-index: 0;
  }

  .message {
    margin: -360px 0 0 500px;
    position: relative;
    z-index: 99;
    width: 450px;
  }

  #writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 49%, 41%);
    line-height: 30px;
  }

  .header {
    margin: -290px 0 0 550px;
    position: relative;
    z-index: 99;
    width: 0px;
  }

  #header-writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 17px;
  }

  .weare {
    margin: -250px 0 0 600px;
    position: absolute;
    z-index: 99;
    width: 100px;
  }

  #weare-writings {
    font-family: "Josefin Sans", sans-serif;
    color: hsl(0, 49%, 41%);
    font-size: 60px;
    font-weight: 200;
    line-height: 70px;
    letter-spacing: 17px;
  }

  #search {
    margin: 290px 0 0 500px;
    width: 450px;
    position: relative;
    z-index: 99;
  }

  .form-control {
    padding: 0px 10px 0 100px;
    margin-top: -85px;
    color: hsl(0, 93%, 68%);
    font-size: 28px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: auto;
    border-radius: 50px 50px 50px 50px !important;
  }

  #searchbtn {
    padding: 0px 10px 0 50px;
    margin: -60px 0 100px 360px;
    color: #fff;
    background: hsl(0, 93%, 68%);
    font-size: 27px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: 50px;
    border-radius: 40px 40px 40px 40px !important;
    position: absolute;
    z-index: 100;
  }

  #demo {
    margin: 0 0 0 155px;
    position: relative;
    z-index: 99;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 93%, 68%);
  }

  form {
    position: relative;
    z-index: 99;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  img {
    margin: 100px 0 0 300px;
    position: relative;
    z-index: 99;
  }

  .logo {
    margin: -820px 0px 0 -610px;
    position: relative;
    z-index: 99;
  }

  .bg_pattern {
    margin: -70px 0 15px 220px;
    position: relative;
    z-index: 0;
  }

  .message {
    margin: -360px 0 0 400px;
    position: relative;
    z-index: 99;
    width: 450px;
  }

  #writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 49%, 41%);
    line-height: 30px;
  }

  .header {
    margin: -290px 0 0 450px;
    position: relative;
    z-index: 99;
    width: 0px;
  }

  #header-writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 17px;
  }

  .weare {
    margin: -250px 0 0 500px;
    position: absolute;
    z-index: 99;
    width: 100px;
  }

  #weare-writings {
    font-family: "Josefin Sans", sans-serif;
    color: hsl(0, 49%, 41%);
    font-size: 60px;
    font-weight: 200;
    line-height: 70px;
    letter-spacing: 17px;
  }

  #search {
    margin: 290px 0 0 400px;
    width: 450px;
    position: relative;
    z-index: 99;
  }

  .form-control {
    padding: 0px 10px 0 100px;
    margin-top: -85px;
    color: hsl(0, 93%, 68%);
    font-size: 28px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: auto;
    border-radius: 50px 50px 50px 50px !important;
  }

  #searchbtn {
    padding: 0px 10px 0 50px;
    margin: -60px 0 100px 360px;
    color: #fff;
    background: hsl(0, 93%, 68%);
    font-size: 27px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: 50px;
    border-radius: 40px 40px 40px 40px !important;
    position: absolute;
    z-index: 100;
  }

  #demo {
    margin: 0 0 0 155px;
    position: relative;
    z-index: 99;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 93%, 68%);
  }

  form {
    position: relative;
    z-index: 99;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  img {
    margin: 100px 0 0 200px;
    position: relative;
    z-index: 99;
  }

  .logo {
    margin: 20px 0px 0 -610px;
    position: absolute;
    z-index: 99;
  }

  .bg_pattern {
    margin: -70px 0 15px 120px;
    position: relative;
    z-index: 0;
  }

  .message {
    margin: -360px 0 0 300px;
    position: relative;
    z-index: 99;
    width: 450px;
  }

  #writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 49%, 41%);
    line-height: 30px;
  }

  .header {
    margin: -290px 0 0 350px;
    position: relative;
    z-index: 99;
    width: 0px;
  }

  #header-writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 17px;
  }

  .weare {
    margin: -250px 0 0 400px;
    position: absolute;
    z-index: 99;
    width: 100px;
  }

  #weare-writings {
    font-family: "Josefin Sans", sans-serif;
    color: hsl(0, 49%, 41%);
    font-size: 60px;
    font-weight: 200;
    line-height: 70px;
    letter-spacing: 17px;
  }

  #search {
    margin: 290px 0 0 300px;
    width: 450px;
    position: relative;
    z-index: 99;
  }

  .form-control {
    padding: 0px 10px 0 100px;
    margin-top: -85px;
    color: hsl(0, 93%, 68%);
    font-size: 28px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: auto;
    border-radius: 50px 50px 50px 50px !important;
  }

  #searchbtn {
    padding: 0px 10px 0 50px;
    margin: -60px 0 100px 360px;
    color: #fff;
    background: hsl(0, 93%, 68%);
    font-size: 27px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: 50px;
    border-radius: 40px 40px 40px 40px !important;
    position: absolute;
    z-index: 100;
  }

  #demo {
    margin: 0 0 0 155px;
    position: relative;
    z-index: 99;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 93%, 68%);
  }

  form {
    position: relative;
    z-index: 99;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  img {
    margin: 100px 0 0 100px;
    position: relative;
    z-index: 99;
  }

  .logo {
    margin: 20px 0px 0 -610px;
    position: absolute;
    z-index: 99;
  }

  .bg_pattern {
    margin: -70px 0 15px 20px;
    position: relative;
    z-index: 0;
  }

  .message {
    margin: -360px 0 0 200px;
    position: relative;
    z-index: 99;
    width: 450px;
  }

  #writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 49%, 41%);
    line-height: 30px;
  }

  .header {
    margin: -290px 0 0 250px;
    position: relative;
    z-index: 99;
    width: 0px;
  }

  #header-writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 17px;
  }

  .weare {
    margin: -250px 0 0 300px;
    position: absolute;
    z-index: 99;
    width: 100px;
  }

  #weare-writings {
    font-family: "Josefin Sans", sans-serif;
    color: hsl(0, 49%, 41%);
    font-size: 60px;
    font-weight: 200;
    line-height: 70px;
    letter-spacing: 17px;
  }

  #search {
    margin: 290px 0 0 200px;
    width: 450px;
    position: relative;
    z-index: 99;
  }

  .form-control {
    padding: 0px 10px 0 100px;
    margin-top: -85px;
    color: hsl(0, 93%, 68%);
    font-size: 28px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: auto;
    border-radius: 50px 50px 50px 50px !important;
  }

  #searchbtn {
    padding: 0px 10px 0 50px;
    margin: -60px 0 100px 360px;
    color: #fff;
    background: hsl(0, 93%, 68%);
    font-size: 27px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: 50px;
    border-radius: 40px 40px 40px 40px !important;
    position: absolute;
    z-index: 100;
  }

  #demo {
    margin: 0 0 0 155px;
    position: relative;
    z-index: 99;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 93%, 68%);
  }

  form {
    position: relative;
    z-index: 99;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  body {
    background-color: #f8bfbf;
  }

  img {
    margin: 100px 0 0 100px;
    position: relative;
    z-index: 99;
    width: 500px;
  }

  .logo {
    margin: -700px 0px 0 -500px;
    position: relative;
    z-index: 99;
  }

  .bg_pattern {
    margin: -70px 0 15px 20px;
    position: relative;
    z-index: 0;
    width: 500px;
  }

  .message {
    margin: -360px 0 0 150px;
    position: relative;
    z-index: 99;
    width: 450px;
  }

  #writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 49%, 41%);
    line-height: 30px;
  }

  .header {
    margin: -290px 0 0 200px;
    position: relative;
    z-index: 99;
    width: 0px;
  }

  #header-writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 17px;
  }

  .weare {
    margin: -250px 0 0 250px;
    position: absolute;
    z-index: 99;
    width: 100px;
  }

  #weare-writings {
    font-family: "Josefin Sans", sans-serif;
    color: hsl(0, 49%, 41%);
    font-size: 60px;
    font-weight: 200;
    line-height: 70px;
    letter-spacing: 17px;
  }

  #search {
    margin: 290px 0 0 150px;
    width: 450px;
    position: relative;
    z-index: 99;
  }

  .form-control {
    padding: 0px 10px 0 100px;
    margin-top: -85px;
    color: hsl(0, 93%, 68%);
    font-size: 28px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: auto;
    border-radius: 50px 50px 50px 50px !important;
  }

  #searchbtn {
    padding: 0px 10px 0 50px;
    margin: -60px 0 100px 360px;
    color: #fff;
    background: hsl(0, 93%, 68%);
    font-size: 27px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: 50px;
    border-radius: 40px 40px 40px 40px !important;
    position: absolute;
    z-index: 100;
  }

  #demo {
    margin: 0 0 0 155px;
    position: relative;
    z-index: 99;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 93%, 68%);
  }

  form {
    position: relative;
    z-index: 99;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  body {
    background-color: #f8bfbf;
  }

  img {
    margin: 100px 0 0 50px;
    position: relative;
    z-index: 99;
    width: 400px;
  }

  .logo {
    margin: -1200px 0px 0 50px;
    position: relative;
    z-index: 99;
  }

  .bg_pattern {
    margin: -70px 0 15px 20px;
    position: relative;
    z-index: 0;
    width: 600px;
  }

  .message {
    margin: -360px 0 0 50px;
    position: relative;
    z-index: 99;
    width: 450px;
  }

  #writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 49%, 41%);
    line-height: 30px;
  }

  .header {
    margin: -290px 0 0 100px;
    position: relative;
    z-index: 99;
    width: 0px;
  }

  #header-writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 17px;
  }

  .weare {
    margin: -250px 0 0 150px;
    position: absolute;
    z-index: 99;
    width: 100px;
  }

  #weare-writings {
    font-family: "Josefin Sans", sans-serif;
    color: hsl(0, 49%, 41%);
    font-size: 60px;
    font-weight: 200;
    line-height: 70px;
    letter-spacing: 17px;
  }

  #search {
    margin: 290px 0 0 20px;
    width: 450px;
    position: relative;
    z-index: 99;
  }

  .form-control {
    padding: 0px 10px 0 100px;
    margin-top: -85px;
    color: hsl(0, 93%, 68%);
    font-size: 28px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: auto;
    border-radius: 50px 50px 50px 50px !important;
  }

  #searchbtn {
    padding: 0px 10px 0 50px;
    margin: -60px 0 100px 360px;
    color: #fff;
    background: hsl(0, 93%, 68%);
    font-size: 27px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: 50px;
    border-radius: 40px 40px 40px 40px !important;
    position: absolute;
    z-index: 100;
  }

  #demo {
    margin: 0 0 0 155px;
    position: relative;
    z-index: 99;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 93%, 68%);
  }

  form {
    position: relative;
    z-index: 99;
  }
}

@media (max-width: 500px) {
  body {
    background-color: #f8bfbf;
  }

  #image {
    visibility: hidden;
    margin: 100px 0 0 50px;
    position: relative;
    z-index: 99;
    width: 400px;
  }

  .mobile_image {
    visibility: visible;
    width: 100%;
    max-height: 400px;
    z-index: 99;
    margin: -770px 0 0 0;
    object-fit: cover;
    width: -webkit-fill-available;
  }

  .logo {
    margin: -1200px 0px 0 5px;
    position: relative;
    z-index: 99;
  }

  .bg_pattern {
    visibility: hidden;
    margin: -70px 0 15px 20px;
    position: relative;
    z-index: 0;
    width: 600px;
  }

  .message {
    margin: -670px 0 0 105px;
    position: absolute;
    z-index: 99;
    width: 350px;
    text-align: center;
  }

  #writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 49%, 41%);
    line-height: 30px;
    position: absolute;
  }

  .header {
    margin: -830px 0 0 125px;
    position: absolute;
    z-index: 99;
    width: 0px;
  }

  .header_soon {
    margin: -770px 0 0 15px;
    position: absolute;
    z-index: 99;
    width: 0px;
  }

  #header-writings {
    font-family: "Josefin Sans", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 15px;
  }

  #header-soon {
    font-family: "Josefin Sans", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 15px;
  }

  .weare {
    margin: -900px 0 0 150px;
    position: absolute;
    z-index: 99;
    width: 100px;
  }

  #weare-writings {
    font-family: "Josefin Sans", sans-serif;
    color: hsl(0, 49%, 41%);
    font-size: 60px;
    font-weight: 200;
    line-height: 70px;
    letter-spacing: 17px;
  }

  #search {
    margin: -390px 0 0 68px;
    width: 450px;
    position: absolute;
    z-index: 99;
  }

  .form-control {
    padding: 0px 10px 0 100px;
    margin-top: -85px;
    color: hsl(0, 93%, 68%);
    font-size: 28px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: auto;
    border-radius: 50px 50px 50px 50px !important;
  }

  #searchbtn {
    padding: 0px 10px 0 50px;
    margin: -60px 0 100px 355px;
    color: #fff;
    background: hsl(0, 93%, 68%);
    font-size: 27px;
    font-weight: 500;
    border: 3px solid hsl(0, 93%, 68%);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    height: 50px;
    border-radius: 40px 40px 40px 40px !important;
    position: absolute;
    z-index: 100;
  }

  #demo {
    margin: 0 0 0 155px;
    position: relative;
    z-index: 99;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 93%, 68%);
  }

  form {
    position: absolute;
    z-index: 99;
    margin: -300px 0 0 0;
  }
}
